@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);
@import url('colors.less');
@import url('mixins.less');

* {
  font-family: "Open Sans" !important;
}

.nav-bar {
  color: #ecf0f1 !important;
  background-color: @primary !important;
  border-bottom: 3px solid @primary-dark !important;
}

.sidemenu-bar {
  padding: 0;
  border: 0;
  background-color: @primary !important;
  border-bottom: 3px solid @primary-dark !important;

  img {
	height: 100%;
	max-height: 100%;
	margin: 0 auto;
  }
}

.sidemenu-content {
  background-color: @background;
}

.nav-bar-container {
  background-color: red !important;
}

.rating {
  margin-top: 8px;

  .ion-android-star {
	color: #ffc000;
	font-size: 20px;
  }

  .white {
	color: #cecece;
  }
}

.picture {
  position: absolute;
  top: 10px;
  left: 10px;
  max-width: 80px;
  max-height: 80px;
  width: 100%;
  height: 100%;

  .background-cover();
}

.extra-info {
  font-size: 14px;
  color: #868686;

	margin-top: 8px;

  .spacer {
	display: inline;
	margin-right: 10px;
  }
}

ion-slide {
  img {
	width: 100%;
  }
}


.ion-heart {
  color: #f15355;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.padding {
  padding: 15px;
}

.list {
  .item-avatar {

	.avatar {
	  width: 50px;
	  height: 50px;

	  position: absolute;
	  top: 16px;
	  left: 16px;

	  border-radius: 2px;

	  .background-cover();
	}

	h2, p {
	  margin-left: 10px;
	  text-overflow: inherit;
	  white-space: normal;
	}
  }
}
.small-header {
  background-color: @background;
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;

  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;

  border-top: 1px solid @border;

  color: @background - 190;
}

h1, h2, h3, h4 {
  color: @font-primary;
}

.background-color {
  background-color: @background;

	.item, select {
	  background-color: @background;
	}
}

.no-border {
  border: 0;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
	opacity: .5;
  }
  .modal-backdrop-bg {
	-webkit-transition: opacity 300ms ease-in-out;
	transition: opacity 300ms ease-in-out;
	background-color: #000;
	opacity: 0;
  }
}