<div class="features">
	<div class="media">
		<img class="media-object left" alt="" src="http://www.cs-e.dk/searh.png">
		
		<div class="media-body">
			<h2>Find hurtigt de opskrifter der passer dig!</h2>
			<p class="p">Madfolket er fyldt med de bedste opskrifter fra dig og mig! Vi samler landets bedste opskrifter og lader dig søge i vores samling ud fra smag, dieter, næringsindhold, kogetid, allergier og meget mere!</p>
			<a href="">Find en opskrift </a>
		</div>
	</div>

	<div class="media">
		<img class="media-object right" alt="" src="http://www.cs-e.dk/how.png">
		
		<div class="media-body">
			<h2>Find hurtigt de opskrifter der passer dig!</h2>
			<p class="p">Madfolket er fyldt med de bedste opskrifter fra dig og mig! Vi samler landets bedste opskrifter og lader dig søge i vores samling ud fra smag, dieter, næringsindhold, kogetid, allergier og meget mere!</p>
			<a href="">Find en opskrift </a>
		</div>
	</div>

	<div class="media">
		<img class="media-object left" alt="" src="http://www.cs-e.dk/searchtaste.png">
		
		<div class="media-body">
			<h2>Find hurtigt de opskrifter der passer dig!</h2>
			<p class="p">Madfolket er fyldt med de bedste opskrifter fra dig og mig! Vi samler landets bedste opskrifter og lader dig søge i vores samling ud fra smag, dieter, næringsindhold, kogetid, allergier og meget mere!</p>
			<a href="">Find en opskrift </a>
		</div>
	</div>

	<div class="media">
		<img class="media-object right" alt="" src="http://www.cs-e.dk/organize.png">
		
		<div class="media-body">
			<h2>Find hurtigt de opskrifter der passer dig!</h2>
			<p class="p">Madfolket er fyldt med de bedste opskrifter fra dig og mig! Vi samler landets bedste opskrifter og lader dig søge i vores samling ud fra smag, dieter, næringsindhold, kogetid, allergier og meget mere!</p>
			<a href="">Find en opskrift </a>
		</div>
	</div>
</div>