<div class="categories">
	<div ng-repeat="category in categories">

		<div class="inline" ng-repeat="recipe in category.recipes | limitTo: 4">

			<div ng-switch="$index">
				<div ng-switch-when="0">
					<recipe-big recipe="recipe"></recipe-big>
					<h1>{{ category.name }}</h1>
				</div>

				<div ng-switch-default>
					<recipe recipe="recipe"></recipe>
				</div>
			</div>

		</div>

		<div class="clear"></div>

		
		<hr ng-if="$index !== categories.length - 1" />

	</div>
</div>