<div class="create-recipe">
	
	<div class="sidebar no-padding">

		<div class="vertical-steps">

			<div class="step" ng-repeat="step in steps" ng-click="setStep($index)" ng-class="{'active': currentStep==$index}">
				<div class="icon" ng-class="step.icon"></div>
				{{ step.name }}
			</div>

		</div>
	</div>


	<div class="middle-column">

		<form name="form" novalidate>
			
			<!-- Basic information -->
			<div ng-show="currentStep == 0">

				<div class="alert alert-danger" role="alert" ng-show="form.name.$error.minlength || form.name.$error.maxlength">
					<span class="icon ion-alert-circled"></span>
					Navnet på opskriften skal bestå af 2-90 tegn
				</div>

				<div class="row">
					<div class="col-md-6 form-group">
						<label for="name">Navn</label>
						<input type="text" class="form-control" ng-model="recipe.name" ng-model-options="{ updateOn: 'blur' }" name="name" id="name" placeholder="Indtast opskriftens navn" ng-minlength="2" ng-maxlength="90" required autocomplete="off">
					</div>
					<div class="col-md-6 form-group">
						<label for="persons">Antal personer</label>
						<select class="form-control" id="persons" ng-model="recipe.persons" ng-options="number for number in persons"></select>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12 form-group">
						<label for="description">Introduktion</label>
						<textarea class="form-control" ng-model="recipe.introduction" id="description" cols="30" rows="10" placeholder="Indtast en fangede introduktion, eller måske historien om opskriften. (Valgfri)"></textarea>
					</div>					
				</div>
				
				<div class="row">
				    <div class="col-md-6 form-group">
				        <label for="hours">Forberedelsestid</label>
				        
				        <div class="row">
				        	<div class="col-md-6 form-group" ng-class="{'has-error': form.hours.$invalid && form.hours.$dirty}">
								<input type="number" class="form-control" ng-model="recipe.hours" name="hours" placeholder="Timer" min="0" max="99" required autocomplete="off">
				        	</div>

				        	<div class="col-md-6 form-group" ng-class="{'has-error': form.minutes.$invalid && form.minutes.$dirty}">
								<input type="number" class="form-control" ng-model="recipe.minutes" name="minutes" placeholder="Minutter" min="0" max="59" required autocomplete="off">
				        	</div>
				        </div>
				    </div>


					<div class="col-md-6">
						<div class="row">
							<div class="checkbox" style="margin-left: 15px; margin-top: 33px;">
								<label>
									<input ng-model="recipe.freeze" type="checkbox"> Opskriften er fryseegnet
								</label>
							</div>
						</div>
					</div>

				</div>    

			</div>
			<!-- /Basic information -->

			<!-- Categorization -->
			<div ng-show="currentStep == 1">

				<div class="row">
					<div class="col-md-6 form-group">
						<label for="origin">Oprindelsesland</label>
						<select class="form-control" id="origin" ng-model="recipe.origin" ng-options="origin.name for origin in origins | orderBy:'name'"></select>
					</div>
					<div class="col-md-6 form-group">
						<label for="category">Hovedkategori</label>
						<select class="form-control" id="category" ng-model="recipe.category" ng-options="category.name for category in categories | orderBy:'name'"></select>
					</div>
				</div>

				<div class="row">
					<div class="col-md-5 form-group">
						<label for="tags">Mærkater</label>
						<select class="form-control" ng-model="currentTag" id="tags" ng-options="tag.name group by tag.type for tag in tags"></select>
					</div>

					<div class="col-md-1 no-padding" style="margin-top: 25px; padding-right: 15px;">
						<button class="btn btn-orange btn-small btn-block" ng-click="addTag()" ng-disabled="recipe.tags.length > 4">
							<div class="icon ion-plus"></div>
						</button>
					</div>

					<div class="col-md-6" style="padding-top: 27px;">
						<div class="tag" ng-repeat="tag in recipe.tags" ng-click="removeTag(tag)">
							{{ tag.name }}&nbsp;&nbsp;
							<div class="icon ion-close-round pull-right"></div>
						</div>
					</div>
				</div>




			</div>
			<!-- /Categorization -->

			<!-- Ingredients -->
			<div ng-show="currentStep == 2">

				<div class="alert alert-danger" role="alert" ng-show="form.ingredient.$error.minlength || form.ingredient.$error.maxlength || form.amount.$error.min || form.amount.$error.max || form.amount.$error.number">
					<span class="icon ion-alert-circled"></span>
					<div ng-show="form.amount.$error.number">
						Mængden skal være et tal
					</div>
					<div ng-show="form.amount.$error.max || form.amount.$error.min">
						Mængden skal være et tal mellem 0.1 og 9999
					</div>
					<div ng-show="form.ingredient.$error.minlength || form.ingredient.$error.maxlength">
						Navnet på ingrediensen skal bestå af 2-30 tegn
					</div>
				</div>

				<div class="row">
					<div class="col-md-4 form-group">
						<label for="ingredient">Ingrediens</label>
					    <input type="text" ng-model="chosenIngredient" ng-model-options="{ debounce: 300 }" name="ingredient" id="ingredient" placeholder="Indtast ingrediensen" typeahead="ingredient.name for ingredient in getIngredients($viewValue)" typeahead-loading="loadingLocations" class="form-control" ng-minlength="2" ng-maxlength="30" required>
					</div>
					<div class="col-md-4 form-group">
						<label for="amount">Mængde</label>
						<input type="number" ng-model="currentIngredient.amount" name="amount" id="amount" class="form-control" placeholder="Indtast mængde" min="0.1" max="9999" autocomplete="off" required>
					</div>
					<div class="col-md-3 form-group">
						<label for="unit">Enhed</label>
						<select class="form-control" id="unit" ng-model="currentIngredient.unit" name="unit" ng-options="unit.name for unit in units | orderBy:'name'" required></select>
					</div>

					<div class="col-md-1 no-padding" style="margin-top: 25px; padding-right: 15px;">
						<button class="btn btn-orange btn-small btn-block" ng-click="addIngredient()" ng-disabled="form.ingredient.$error.required || form.ingredient.$error.minlength || form.ingredient.$error.maxlength || form.amount.$error.required || form.amount.$error.min || form.amount.$error.max || form.amount.$error.number || form.unit.$error.required">
							<div class="icon ion-plus"></div>
						</button>
					</div>

				</div>

				<div class="row" ng-show="recipe.ingredients.length > 0">
					<div class="col-md-12">

						<table class="table ingredients">
							<tr>
								<th>Mængde</th>
								<th>Enhed</th>
								<th>Ingrediens</th>
							</tr>

							<tr ng-repeat="ingredient in recipe.ingredients">
								<td>{{ ingredient.amount }} {{ ingredient.unit.shorthand }}</td>
								<td>
									{{ ingredient.unit.name }}
								</td>
								<td>{{ ingredient.name }}</td>
								<td class="remove">
									<div class="icon ion-close-round hand" ng-click="removeIngredient($index)" tooltip="Fjern"></div>
								</td>
							</tr>

						</table>

					</div>
				</div>

			</div>
			<!-- /Ingredients -->

			<!-- Vejledning -->
			<div ng-show="currentStep == 3">

				<div class="row">

					<div class="col-md-11 form-group">
						<label for="name">Skridt</label>
						<input ng-model="newStep.description" ng-show="recipe.steps.length == 0" type="text" class="form-control" id="name" placeholder="Indtast beskrivelsen af det første skridt" autocomplete="off">
						<input ng-model="newStep.description" ng-show="recipe.steps.length > 0" type="text" class="form-control" id="name" placeholder="Indtast beskrivelsen af det næste skridt" autocomplete="off">
					</div>

					<div class="col-md-1 no-padding" style="margin-top: 25px; padding-right: 15px;">
						<button class="btn btn-orange btn-small btn-block" ng-click="addStep()" ng-disabled="!newStep.description">
							<div class="icon ion-plus"></div>
						</button>
					</div>

				</div>

				<div class="row" ng-show="recipe.steps.length > 0">
					<div class="col-md-12">
		
						<div ui-tree>
						<table class="table approach" ui-tree-nodes="" ng-model="recipe.steps">
							<tr ng-repeat="step in recipe.steps" ui-tree-node>
								<td>
									<div class="icon ion-navicon drag" ui-tree-handle></div>
								</td>
								<td>
									<div class="step-number">{{ $index + 1 }}</div>
									<button class="btn step-number" ng-click="setTimerModal($index)" ng-class="{'btn-orange': step.timer, 'btn-white': !step.timer}">
										<div class="icon ion-clock"></div>
									</button>
								</td>
								<td style="width: 74.5% !important;">
									{{ step.description }}
								</td>
								<td class="remove">
									<div class="icon ion-close-round hand" ng-click="removeStep($index)" tooltip="Fjern"></div>
								</td>
							</tr>
						</table>
						</div>
						
					</div>
				</div>

			</div>
			<!-- / Vejledning -->


			<div ng-show="currentStep == 4" class="images">
			
				<div class="alert alert-danger" role="alert" ng-show="uploadError">
					<span class="icon ion-alert-circled"></span>
					<div>
						Dit billede må højst fylde 25 mb.
					</div>
				</div>

				<div class="row">
					<div class="col-md-4 form-group">
						<label>Upload</label>
						<div class="clear"></div>
						<div ng-file-select="onFileSelect($files)" data-multiple="true" accept="image/*" title="select file" onclick="this.value = null" class="btn btn-orange btn-block">
							<div class="icon ion-upload"></div>
							Vælg billeder
						</div>

						<div ng-file-drop="onFileSelect($files)" class="dropzone" ng-file-drag-over-class="dropzone-active" ng-show="dropSupported">
							Smid dine billeder her
						</div>
  						<div ng-file-drop-available="dropSupported=true" ng-show="!dropSupported"></div>


					</div>
					
					<div class="col-md-8 preview">
						<label ng-if="mainImage">Hovedbillede</label>
						<div class="clear"></div>

						<div class="image" style="background-image: url('{{api}}/images/recipe_images/temporary/{{mainImage.path}}')"></div>

						<div class="miniatures">
							<div ng-repeat="image in recipe.images" class="image" ng-class="{'preview-active': mainImage == image}" ng-mouseenter="imageToggleHover(image)" ng-mouseleave="imageToggleHover(image)" style="background-image: url('{{api}}/images/recipe_images/temporary/{{image.path}}')">
								<div ng-if="image.hovered" class="option">

									<button ng-click="changeMainImage(image)" class="btn btn-orange btn-small btn-icon-square">
										<div class="icon ion-image"></div>
									</button>

									<button  ng-click="removeImage(image)" class="btn btn-orange btn-small btn-icon-square">
										<div class="icon ion-close-round"></div>
									</button>
								
								</div>
							</div>						
						</div>
					</div>
				</div>


			</div>

			<hr>

			<div class="btn btn-orange" ng-click="previousStep()" ng-hide="currentStep == 0">Tilbage</div>
			<div class="btn btn-orange" ng-click="nextStep();" ng-hide="currentStep + 1 == steps.length">Gå til {{ steps[currentStep+1].name }}</div>
			<div class="btn btn-orange" ng-click="submitRecipe()" ng-show="currentStep + 1 == steps.length" ng-disabled="uploading || form.name.$invalid || form.hours.$invalid || form.minutes.$invalid || recipe.steps.length == 0 || recipe.ingredients.length == 0">Tilføj opskriften</div>
			<div class="btn btn-orange" ng-click="submitRecipe()">Tilføj opskriften</div>

		</form>

	</div>

	<div class="sidebar no-padding">
		
		<div class="tips">
			<div class="headline">
				<div class="icon ion-information-circled"></div>
				Tips
			</div>
			<div class="tips-content" ng-bind-html="steps[currentStep].tips">
			</div>
		</div>

	</div>

</div>
