<ion-view view-title="Opskrifter">
	<ion-content>
		<ion-list>

			<div class="list list-inset">
				<label class="item item-input">
					<i class="icon ion-search placeholder-icon"></i>
					<input type="text" placeholder="Søgning" />
				</label>
			</div>

			<recipe ng-repeat="recipe in recipes" recipe="recipe"></recipe>

		</ion-list>
	</ion-content>
</ion-view>