<ion-view view-title="{{ recipe.name }}">
	<ion-content class="recipe-page">

		<!--Images-->
		<ion-slide-box on-slide-changed="slideHasChanged($index)">
			<ion-slide ng-repeat="image in recipe.images">
				<img ng-src="{{ $parent.api + '/images/recipe_images/' + recipe.id + '/' + image.path }}" ng-click="goToSlide($index)">
			</ion-slide>
		</ion-slide-box>

		<!--Details-->
		<div class="padding">
			<h3>{{ recipe.name }}</h3>

			<p>
				{{ recipe.introduction }}
			</p>

			<ratings recipe="recipe" stars="recipe.rating" myrating="recipe.myrating" changable="true"></ratings>
		</div>

		<!--Persons-->
		<div class="small-header">
			Ingredienser
		</div>
		<div class="list persons">

			<label class="item item-input item-select">
				<div class="input-label">
					Personer
				</div>
				<select ng-model="currentPersons" ng-change="changePersons(currentPersons)" ng-options="number for number in persons"></select>
			</label>

		</div>

		<!--Ingredients-->
		<table class="ingredients">
			<tr class="item" ng-repeat="ingredient in recipe.ingredients">
				<td>{{ ingredient.amount }} {{ ingredient.unit.shorthand }}</td>
				<td>{{ ingredient.name }}</td>
			</tr>
		</table>


		<!--Approach-->
		<div class="small-header">
			Fremgangsmåde -
			<span ng-if="recipe.hours > 0">{{ recipe.hours }} time<span ng-if="recipe.hours > 1">r</span></span>
			<span ng-if="recipe.hours > 0 && recipe.minutes > 0"> og </span>
			<span ng-if="recipe.minutes > 0">{{ recipe.minutes }} minutter</span>
		</div>
		<div ng-repeat="group in recipe.groups">

			<ul class="list steps">
				<li class="item step item-text-wrap" ng-repeat="step in group.steps">
					<div class="attributes">

						<div class="step-number">{{ $index + 1 }}</div>

						<div class="step-number" ng-if="step.timer">
							<span class="icon ion-clock"></span>
						</div>

					</div>

					<p>
						{{ step.description }}

					</p>

					<div style="clear:both;"></div>
				</li>
			</ul>

		</div>

		<div ng-if="recipe.comments.length > 0">
			<div class="small-header no-border">Kommentarer</div>

			<div class="list">

				<a class="item item-avatar" ng-repeat="comment in recipe.comments" href="#">
					<div class="avatar" style="background: url('{{ $parent.api + '/images/profile_pictures/' + comment.user.id + '/' + comment.user.profile_picture }}')"></div>
					<h2>{{ comment.user.first_name }} {{ comment.user.last_name }}</h2>
					<p>{{ comment.comment }}</p>
				</a>

			</div>
		</div>

	</ion-content>
</ion-view>