@import url('../colors.less');

.recipe-page {

  .persons {
	margin-bottom: 0px;
  }

  .ingredients {
	width: 100%;

	tr {
	  padding: 13px;
	  padding-left: 15px;
	  padding-right: 15px;

	  td {
		padding-top: 0px;
		padding-bottom: 0px;

		&:first-child {
		  width: 70px;
		}

	  }
	}
  }

  .steps {

	.step {

	  .attributes {
		float: left;
		margin-right: 10px;

		.step-number {
		  height: 40px;

		  display: inline-block;

		  padding: 12px;
		  padding-top: 10px;

		  border-radius: 2px;

		  text-align: center;

		  color: white;
		  background-color: @primary;


		  &:nth-child(2) {

			.icon {
			  font-size: 16px !important;
			}

		  }
		}
	  }

	  p {
		line-height: 22px;
	  }

	}


  }

}