<div ng-if="activities.length == 0" class="alert alert-info">
	{{ user.first_name }} har endnu ikke haft nogen aktivitet.
</div>

<div class="feed" ng-repeat="activity in activities | orderBy:'-created_at'">

	<div ng-switch="activity.feed_type">

		<div class="feed-recipe" ng-switch-when="recipe">

			<div class="picture-container">
			    <div class="picture" style="background-image:url('{{ api + '/images/recipe_images/' + activity.id + '/' + activity.images[0].path }}');"></div>				
			</div>

			<div class="username"><a href="">{{ user.first_name }} {{ user.last_name }}</a> tilføjede opskriften <a ui-sref="recipe({ recipeId: activity.id, recipeName: getSlugified(activity.name)})">{{ activity.name }}</a></div>

			<div class="date" am-time-ago="activity.created_at"></div>

			<div class="clear"></div>

		</div>

		<div class="feed-badge" ng-switch-when="badge">

			<div class="username"><a href="">{{ user.first_name }} {{ user.last_name }}</a> har opnået en bedrift!</div>
			<div class="date" am-time-ago="activity.created_at"></div>

			<hr>

			<div class="cbadges">
					<div class="cbadge">
						<div ng-switch="activity.type">
							<div ng-switch-when="1">
								<div class="icon ion-ribbon-b gold"></div>
							</div>
							<div ng-switch-when="2">
								<div class="icon ion-ribbon-b silver"></div>
							</div>
							<div ng-switch-when="3">
								<div class="icon ion-ribbon-b bronze"></div>
							</div>
						</div>

						<div class="name">{{ activity.name }}</div>
						{{ activity.description }}

					</div>

				<div class="clear"></div>
			</div>

		</div>

	</div>
		
</div>