.recipe-page .persons {
  margin-bottom: 0px;
}
.recipe-page .ingredients {
  width: 100%;
}
.recipe-page .ingredients tr {
  padding: 13px;
  padding-left: 15px;
  padding-right: 15px;
}
.recipe-page .ingredients tr td {
  padding-top: 0px;
  padding-bottom: 0px;
}
.recipe-page .ingredients tr td:first-child {
  width: 70px;
}
.recipe-page .steps .step .attributes {
  float: left;
  margin-right: 10px;
}
.recipe-page .steps .step .attributes .step-number {
  height: 40px;
  display: inline-block;
  padding: 12px;
  padding-top: 10px;
  border-radius: 2px;
  text-align: center;
  color: white;
  background-color: #e74c36;
}
.recipe-page .steps .step .attributes .step-number:nth-child(2) .icon {
  font-size: 16px !important;
}
.recipe-page .steps .step p {
  line-height: 22px;
}
