

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);
* {
  font-family: "Open Sans" !important;
}
.nav-bar {
  color: #ecf0f1 !important;
  background-color: #e74c36 !important;
  border-bottom: 3px solid #c0392b !important;
}
.sidemenu-bar {
  padding: 0;
  border: 0;
  background-color: #e74c36 !important;
  border-bottom: 3px solid #c0392b !important;
}
.sidemenu-bar img {
  height: 100%;
  max-height: 100%;
  margin: 0 auto;
}
.sidemenu-content {
  background-color: #ecf0f1;
}
.nav-bar-container {
  background-color: red !important;
}
.rating {
  margin-top: 8px;
}
.rating .ion-android-star {
  color: #ffc000;
  font-size: 20px;
}
.rating .white {
  color: #cecece;
}
.picture {
  position: absolute;
  top: 10px;
  left: 10px;
  max-width: 80px;
  max-height: 80px;
  width: 100%;
  height: 100%;
  background-position: center center !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}
.extra-info {
  font-size: 14px;
  color: #868686;
  margin-top: 8px;
}
.extra-info .spacer {
  display: inline;
  margin-right: 10px;
}
ion-slide img {
  width: 100%;
}
.ion-heart {
  color: #f15355;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.padding {
  padding: 15px;
}
.list .item-avatar .avatar {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 16px;
  left: 16px;
  border-radius: 2px;
  background-position: center center !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}
.list .item-avatar h2,
.list .item-avatar p {
  margin-left: 10px;
  text-overflow: inherit;
  white-space: normal;
}
.small-header {
  background-color: #ecf0f1;
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  border-top: 1px solid #dddddd;
  color: #2e3233;
}
h1,
h2,
h3,
h4 {
  color: #3a3a3a;
}
.background-color {
  background-color: #ecf0f1;
}
.background-color .item,
.background-color select {
  background-color: #ecf0f1;
}
.no-border {
  border: 0;
}
/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}
