<div class="recipe-wide">

    <div class="picture" style="background-image:url('{{ recipe.picture }}');"></div>

    <div class="info">

        <a ui-sref="recipe({ recipeId: recipe.id, recipeName: $parent.getSlugified(recipe.title) })">
            <h3 class="title">{{ recipe.title }}</h3>
            {{ getSlugified(recipe.title) }}
        </a>

        <div class="description">{{ recipe.description }}</div>

    </div>

    <div class="bar">
        <div class="left">
            <ratings stars="recipe.stars" my-rating="null" changable="true"></ratings>
        </div>

        <div class="right">
            {{ recipe.time }}
        </div>
    </div>

</div>