<a class="item item-thumbnail-left" ui-sref="app.recipe({recipeId: recipe.id})">
	<div class="picture" style="background-image:url('{{ $parent.api + '/images/recipe_images/' + recipe.id + '/' + recipe.images[0].path }}');"></div>

	<h2>{{ recipe.name }}</h2>

	<ratings recipe="recipe" stars="recipe.rating" myrating="recipe.myrating" changable="false"></ratings>

	<div class="extra-info">
		<div class="spacer">
			<i class="icon ion-heart"></i> 14
		</div>
		<i class="icon ion-chatbubble"></i> 29 kommentarer
	</div>
</a>