menu
<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-stable nav-bar bar-dark">
			<ion-nav-back-button>
			</ion-nav-back-button>

			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
				</button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="left">
		<ion-header-bar class="bar-stable sidemenu-bar">
			<img src="img/logo.png" alt=""/>
			<h1 class="title"></h1>
		</ion-header-bar>
		<ion-content class="sidemenu-content">
			<ion-list>
				<!--<ion-item menu-close ng-click="login()" class="sidebar-link">-->
					<!--Login-->
				<!--</ion-item>-->
				<ion-item menu-close href="#/app/recipes" class="sidebar-link">
					Opskrifter
				</ion-item>
				<ion-item menu-close href="#/app/search" class="sidebar-link">
					Favoritter
				</ion-item>
				<ion-item menu-close href="#/app/search" class="sidebar-link">
					Indkøbslister
				</ion-item>
				<ion-item menu-close href="#/app/search" class="sidebar-link">
					Indstillinger
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
