<div class="rating" ng-mouseleave="hoverOut()">

	<i class="icon" ng-repeat="star in starsArray" ng-mouseenter="hoverIn(star)" ng-click="rate(star)"
	   ng-class="{
		'ion-android-star': true,
		'white': star.filled == false,
		'user-rated': haveRated && starsArray.indexOf(star) == myrating - 1 && !hovering }"></i>
</div>