<div class="modal-header">
    <h3 class="modal-title">Æggeur</h3>
</div>
<div class="modal-body">

    <div class="timer">
        <span ng-if="timer.hours > 0">{{ timer.hours }} timer</span>
        <span ng-if="timer.minutes > 0">{{ timer.minutes }} minutter</span>
        <span ng-if="seconds > 0">{{ timer.seconds }} sekunder</span>
        <span ng-if="seconds == 0" class="finished">Færdig!</span>
    </div>

</div>

<div class="modal-footer">
    <button class="btn btn-orange" ng-click="stopSound()" ng-show="playingSound">
        <span class="icon ion-stop"></span>&nbsp;&nbsp;
        Stop alarm
    </button>

    <button class="btn btn-orange" ng-click="startTimer()" ng-hide="running || seconds == 0">
        <span class="icon ion-play"></span>&nbsp;&nbsp;
        Start
    </button>
    
    <button class="btn btn-orange" ng-click="pauseTimer()" ng-show="running">
        <span class="icon ion-pause"></span>&nbsp;&nbsp;
        Pause
    </button>

    <button class="btn btn-orange" ng-click="resetTimer()">
        <span class="icon ion-refresh"></span>&nbsp;
        Nulstil
    </button>

    <button class="btn btn-orange" ng-click="cancel()" ng-show="seconds == 0">Luk</button>
    <button class="btn btn-orange" ng-click="cancel()" ng-show="seconds > 0">Annuller</button>

</div>
